@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

:root {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  font-weight: 800;

  --light-cyan: #cee3e9;
  --neon-green: #52ffa8;
  --grayish-blue: #4e5d73;
  --dark-grayish: #323a49;
  --dark-blue: #1f2632;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
